@import url('https://fonts.googleapis.com/css?family=Allura|Montserrat:400,700');

html,
body {
  background-color: #333;
  height: 100%;
  font-family: Montserrat;
}

body {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

h1 span {
  border-bottom: 1px solid #fff;
  display: inline-block;
}

h1::before{
  content: "";
  max-width:171px;
  width:171px;
  display: block;
  height: 21px;
  background:url(../img/heading-element.png) no-repeat;
  margin: 0 auto;
  margin-top:10px;
}

h2 {
  color: #deb150;
  font-family: Allura;
  text-align: center;
}
a {
  color: #deb150;
}

a:hover {
  color: #fff;
}

.background {
  background: url(../img/background.jpg) center;
  background-size: cover;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
}

.cover-container {
  max-width: 42em;
  z-index: 1;
}

.box {
  border: 1px solid #deb150;
}

.box h2 {
  background: #deb150;
  color: #18191e;
  padding: 10px;
  margin-bottom: 0px;
}

.burgers {
  padding: 0px 5px;
}

.burger {
  border-bottom: 1px dashed #fff;
  padding: 5px 0px;
}

.burger:hover {
  background: rgba(0,0,0,0.3);
}

.burger:last-child{
  border: 0;
}

.burger p{
  margin-bottom: 0px;
  padding: 10px;
}

.burger button {
  border-radius: 0px;
}

.box-form {
  margin: 20px 0px;
  background: #18191e;
  border: #202127 solid 20px;
  padding: 10px 10%;
}

.box-form button{
  background: transparent;
  border-radius: 0px;
  border: 1px solid #deb150;
  color: #deb150;
  cursor: pointer;
  padding: 5px 50px;
}

footer {
  text-align: center;
}